 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Create complex enterprise software, ensure reliable software integration, modernise your legacy system.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Enterprise Software Development</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Mobile App Development</a></h4>
            <p>
              Create an impactful mobile app that fits your brand and industry within a shorter time frame.
              </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Dedicated Development Team</a></h4>
            <p>Hire a loyal software development team with niche skills and deep expertise.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">UX / UI Design</a></h4>
            <p>Build the product you need on time with an experienced team that uses a clear and effective design process.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">QA & Testing</a></h4>
            <p>Turn to our experts to perform comprehensive, multi-stage testing and auditing of your software.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

 

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0">
            <i class="bx bx-receipt"></i>
            <h4>Enterprise Software Development</h4>
           
            <p> Create complex enterprise software, ensure reliable software integration, modernise your legacy system.</p>
          </div>
          <div class="icon-box mt-5">
            <i class="bx bx-cube-alt"></i>
            <h4>Mobile App Development</h4>
            <p>Create an impactful mobile app that fits your brand and industry within a shorter time frame.</p>
          </div>
          <div class="icon-box mt-5">
            <i class="bx bx-images"></i>
            <h4>Dedicated Development Team</h4>
            <p>Hire a loyal software development team with niche skills and deep expertise.</p>
          </div>
          <div class="icon-box mt-5">
            <i class="bx bx-shield"></i>
            <h4> IT Consulting</h4>
            <p> Trust our top minds to eliminate workflow pain points, implement new tech, and consolidate app portfolios.</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");'></div>
      </div>

    </div>
  </section><!-- End Features Section -->