
 <div class="container col-6 mt-5 pt-5 py-5"> 
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="">User Name</label>
                <input type="text" [(ngModel)]="object.name" #studentname="ngModel" required class="form-control" placeholder="StudentName">
           <div *ngIf="studentname.touched && studentname.invalid" class="alert alert-danger">
                You Must Enter Valid Name
           </div>
            </div> 
            <div class="form-group">
                <label for="">User Age</label>
                <input type="text" [(ngModel)]="object.age" #studentage="ngModel" required class="form-control" placeholder="Student Age">
                <div *ngIf="studentage.touched && studentage.invalid" class="alert alert-danger">
                    You Must Enter Valid Age
               </div>
            </div>
            <div>
                <button (click)="update()" class="btn btn-primary"> Update Data</button>
            </div>
        </div>
    </div>
</div>