 <!-- ======= About Us Section ======= -->
 <section id="about" class="about">
   <div class="container">

     <div class="section-title">
       <h2>About Us</h2>
       <p>We are a digital transformation consultancy and engineering company that delivers cutting edge solutions for
         global organisations and technology startups. we have been helping companies and established brands
         reimagine their business through digitalisation.</p>
     </div>

     <div class="row content">
       <div class="col-lg-6">
         <p>
           We are a digital transformation consultancy and engineering company that delivers cutting edge solutions for
           global organisations and technology startups. we have been helping companies and established brands reimagine
           their business through digitalisation.
         </p>
         <ul>
           <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
           <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
           <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
         </ul>
       </div>
       <div class="col-lg-6 pt-4 pt-lg-0">
         <p>
           We are a digital transformation consultancy and engineering company that delivers cutting edge solutions for
           global organisations and technology startups. we have been helping companies and established brands reimagine
           their business through digitalisation.
         </p>
         <a href="#" class="btn-learn-more">Learn More</a>
       </div>
     </div>

   </div>
 </section><!-- End About Us Section -->

 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta">
   <div class="container">

     <div class="row">
       <div class="col-lg-9 text-center text-lg-start">
         <h3>Call To Action</h3>
         <p> We are a digital transformation consultancy and engineering company that delivers cutting edge solutions
           for global organisations and technology startups. we have been helping companies and established brands
           reimagine their business through digitalisation.</p>
       </div>
       <div class="col-lg-3 cta-btn-container text-center">
         <a class="cta-btn align-middle" href="#">Call To Action</a>
       </div>
     </div>

   </div>
 </section><!-- End Cta Section -->
