#header{
    background-color: #36454F	!important;
}
#navbar span{
    color: #c7c7c7 !important;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
header
{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo
{
    float:left;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    padding: 0 20px;
    color:#069370;
    font-weight: 700;
    text-decoration: none;

}
nav
{
    float:right;
}
.clear
{
    clear: both;
}
nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover
{
    background: #069370;
    color: #fff;
    transition: 0.5s;
}
nav .btn{
  display: block !important;
  margin: 10px 0 !important;
  padding: 10px 20px !important;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .mean-toggle
    {
        display: block;
        width: auto;
        height: auto;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .mean-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .mean-toggle.active:before
    {
        content: '\f00d';
    }
    nav
    {
        display:none;
    }
    nav.active
    {
        display:block;
        width :100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li
    {
        margin: 0;
        text-align: center;
    }
}
