 <!--
 <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">Creativity Devs</a></h1>


          <nav id="navbar" class="navbar order-last order-lg-0">

            <ul>
              <li><a class="nav-link scrollto active" routerLink="/hero">Home</a></li>
              <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
              <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
              <li><a class="nav-link scrollto " routerLink="/clients">clients</a></li>
              <li><a class="nav-link scrollto" routerLink="/pricing">Pricing</a></li>
              <li class="dropdown"><a routerLink="/liststudent"><span>Student</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a routerLink="/liststudent">List</a></li>
                  <li><a routerLink="/creatstudent">Creat</a></li>
                </ul>
              </li>
              <li class="dropdown"><a routerLink="/liststudent"><span>Teacher</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a routerLink="/lt">List</a></li>
                  <li><a routerLink="/ct">Creat</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>


          </nav>


           <a routerLink="/about" class="get-started-btn scrollto">Get Started</a>

      </div>
      </div>


    </div>
  </header>






 -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


 <header>
  <h1 class="logo"><a href="index.html">Creativity Devs</a></h1>
  <div class="mean-toggle"></div>
  <nav>
    <ul>
      <li><a class="nav-link scrollto active" routerLink="/hero">Home</a></li>
      <li><a class="nav-link scrollto" routerLink="/about">About</a></li>
      <li><a class="nav-link scrollto" routerLink="/services">Services</a></li>
      <li><a class="nav-link scrollto " routerLink="/clients">clients</a></li>
      <li><a class="nav-link scrollto" routerLink="/pricing">Pricing</a></li>




<!-- Example single danger button -->
<div class="btn-group d-flex flex-wrap align-items-center ">
  <button type="button" class="btn btn-Success dropdown-toggle  " data-toggle="dropdown" aria-expanded="false">
    Student
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" routerLink="/liststudent">List</a>
    <a class="dropdown-item"  routerLink="/creatstudent">Creat</a>
  </div>
</div>


<div  class="btn-group d-flex flex-wrap align-items-center">
  <button type="button" class="btn btn-Success dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
    Teacher
  </button>
  <div class="dropdown-menu">
    <ul>
   <li> <a class="dropdown-item" routerLink="/lt">List</a></li>
   <li>  <a class="dropdown-item"  routerLink="/ct">Creat</a></li>
  </ul>
  </div>
</div>



<!--

      <li class="dropdown "><a routerLink="/liststudent"><span>Student</span> <i class="btn btn-danger dropdown-toggle"></i></a>
        <ul>
          <li><a routerLink="/liststudent">List</a></li>
          <li><a routerLink="/creatstudent">Creat</a></li>
        </ul>

      </li>

      <li class="dropdown"><a routerLink="/liststudent"><span>Teacher</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a routerLink="/lt">List</a></li>
          <li><a routerLink="/ct">Creat</a></li>
        </ul>
      </li>
    -->
      <li><a class="nav-link scrollto" routerLink="/contact">Contact</a></li>
    </ul>

  </nav>

  <div class="clear"></div>
</header>




